body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#material-list {
    padding: 2rem;
}

.material-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust columns as needed */
    grid-gap: 2rem;
}

.material {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.material img {
    width: auto;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    height: 30px; /* Adjust height as needed */
    width: auto;  /* Maintains aspect ratio */
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}


.navbar-menu {
    display: flex;
}

.navbar-menu a {
    color: #333;
    text-decoration: none;
    padding: 0 15px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.navbar-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.navbar-search input {
    border: none;
    outline: none;
    padding: 5px;
    margin-right: 5px;
}

.navbar-search button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.image-container {
    position: relative; /* Allows absolute positioning of children */
}

.image-container img {
    width: 100%; /* Adjust width as needed */
    height: auto;
}


.banner h2 {
    font-size: 60px;
    font-weight: bolder;
}

.banner h3 {
    font-size: 30px;
    font-weight: normal;
}

.button-container {
    position: absolute;
    bottom: 23%;
    left: 0;
    width: 100%;
    text-align: center;
}

.button-container button {
    background-color: #ffffff; 
    color: rgb(43, 43, 43);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

